{% include 'layout.html' %} {% block title%}
<title>Customize | Scissor</title>
{% endblock%}

<div class="container">
    <div class="card-body text-monospace"></div>
    <div class="card-body text-monospace">Old url key:{{scan_key.key}}</div>
    <div class="card-body">
        <h2>Customize Url</h2>
    </div>
    
    <div class="card-body"></div>

    <div class="container">
        <div>{{ msg }}</div>

        <div class="card">
            <div class="card-header">
                You can choose Preferred url_key
            </div>
            <div class=card-body>
                <form method = "POST">
        
                    <div class="form-group">
                        <label>Title (Optional)</label>
                        <input name = "title" class="form-control" type="text" id="title" value="{{scan_key.title}}">
                    </div>
                    <div class="form-group">
                        <label>Target URL (optional) </label>
                        <input name = "destination" class="form-control" value="{{scan_key.destination}}"></input>
                    </div>
                    <div class="form-group">
                        <label>Custom Key</label>
                        <input name ="custom_name" type="text" class="form-control" id="title" placeholder= "Customize URL name" required>
                    </div>
                    
                    <button onclick="window.location.href='/edit_url/{{scan_key.key}}'" type="submit" class="btn btn-primary">Customize</button>
                    <button
                        onclick="window.location.href='/webpage/dashboard'"
                        type="button"
                        class="btn btn-success"
                    >
                        Dashboard
                    </button>
                </form>
            </div>
        </div>