{% include 'layout.html'%}
{%block title%}
<title>Dashboard | Scissors</title> 
{%endblock%}

<div>
    <div>
        <h3>Hello, {{user.firstname}}</h3>
    </div>

    <div>
        <h2>Welcome To Your Dashboard</h2>
        <h4>Get custom links and a complimentary domain</h4>
    </div>

    <div>
        <button>
            <a href=" {{ url_for ('create_url')}}">Create New</a>
        </button>
    </div>

    {%for items in urls%}
    <div>
        <div><h3>title: {{items.title}} </h3></div>
        <div><h2><a href="{{base_url}}{{items.key}}" target="_blank" style="color: blueviolet;">short_url: {{base_url}}{{items.key}}"</a></h2></div>
        <div><h3>destination: {{items.destination}}</h3></div>
        <div><h3>key: {{items.key}}</h3></div>
        <div><h3>clicks: {{items.clicks}}</h3></div>
        <div><h3>date_created: {{items.date_created}}</h3></div>
    </div>
    
  <div>
    <button onclick="window.location.href='/edit_url/{{items.key}}'">Customize</button>
    <button type="button"><a href="https://api.qrserver.com/v1/create-qr-code/?data={{base_url}}{{items.key}}&size=350x350" download="{{items.key}}.png" target=_blank class="#">Download QR</a></button>
    <button onclick="window.location.href='/delete/{{items.key}}'">Delete</button>
  </div>
  {%endfor%}
</div>
