{%block content%}
{%endblock%}

<footer>
    <div class="flex-container">

  
      <div class="lodo-div">
        <a href="{{ url_for ('homepage')}}"><img src="{{ url_for('static', path='/assets/Logo.png')}}" alt="Logo"></a> 
        <div class="socials">
          <a href="https://twitter.com/VLieche" target="_blank"><img src="{{ url_for('static', path='/assets/i.fi-social-twitter.png')}}" alt="Twitter" /></a>
          <a href="https://github.com/Lieche6545/Scissors"></a>
          <a href="https://www.instagram.com/victor_lieche/" target="_blank"><img src="{{ url_for('static', path='/assets/svg.feather.png')}}" alt="" /></a>
          <a href="https://www.linkedin.com/in/victor-amaliechi-618282104/" target="_blank"><img src="{{ url_for('static', path='/assets/i.fi-social-linkedin.png')}}" alt="" /></a>
        </div>
      </div>
  
  
      <div class="grid">
        <div class="grid-container3">
          <div class="s3t">
            <h3>Why Scissor?</h3>
            <p>Scissor 101</p>
            <p>Integrations and API</p>
            <p>Pricing</p>
  
          </div>
          <div class="s3t">
            <h3>Solutions</h3>
            <p>Social Media</p>
            <p>Digital Marketing</p>
            <p>Customer Service</p>
            <p>For Developers</p>
          </div>
  
          <div class="s3t">
            <h3>Products</h3>
            <p>Link management</p>
            <p>QR Codes</p>
            <p>Link-in-bio</p>
          </div>
          <div class="s3t">
            <h3>Company</h3>
            <p>About Scissor</p>
            <p>Careers</p>
            <p>Partners</p>
            <p>Press</p>
            <p>Contact</p>
            <p>Reviews</p>
          </div>
        </div>
  
        <div class="grid-container3">
          <div class="s3t">
            <h3>Resources</h3>
            <p>Blog</p>
            <p>Resource Library</p>
            <p>Developers</p>
            <p>App Connectors</p>
            <p>App Connections</p>
            <p>Support</p>
            <p>Trust Center</p>
            <p>Browser Extension</p>
            <p>Mobile App</p>
          </div>
          <div class="s3t">
            <h3>Features</h3>
            <p>Branded Links</p>
            <p>Mobile Links</p>
            <p>Campaign</p>
            <p>Management &</p>
            <p>Analytics</p>
            <p>QR Code generation</p>
          </div>
          <div class="s3t">
            <h3>Legal</h3>
            <p>Privacy Policy</p>
            <p>Cookie Policy</p>
            <p>Terms of Service</p>
            <p>Acceptable Line Policy</p>
            <p>Code of Conduct</p>
          </div>
  
          <div class="s3t"></div>
          
        </div>
      </div>
  
    </div>
  
    
  </footer>
  <p class="foot">Terms of Service | Security |  Scissor 2024</p>
