<header>
    <div class="container">
      <div class="logo">
        <a href="{{ url_for ('homepage')}}"><img src="{{ url_for('static', path='/assets/Logo.png')}}" alt="Logo"></a>
      </div>
      <nav>
        <ul>
          <li><a class="linklikecolor" href="{{ url_for ('login')}}">My URLs</a></li>
          <li><a href="{{ url_for ('features')}}">Features <img src="{{ url_for('static', path='/assets/Vector.png')}}"></a></li>
          <li><a href="{{ url_for ('pricing')}}">Pricing</a></li>
          <li><a href="">Analytics</a></li>
          <li><a href="{{ url_for ('faqs')}}">FAQs</a></li>
        </ul>
      </nav>
      <div class="button">
        <span class="linklikecolor login"><a href="{{ url_for('login')}}">Log in</a></span>
        <a href="{{ url_for('register')}}">Try for free</a>
      </div>
    </div>
  </header>