{% include 'layout.html'%}
{%block title%}
<title>Pricing | Scissors</title> 
{%endblock%}


<div class="container3">
    <div class="htxontent">
      <h1><img style="margin-bottom: -20px;" src="{{ url_for('static', path='/assets/Line70.png')}}"> A <span class="linklikecolor">price perfect</span> for your needs.</h1>
      <p style="margin-left:15px;">From catering for your personal, business, event, socials needs, you can be rest assured we have you in mind in our pricing.</p>
    </div>
  </div>


  <div class="pricing-table">
    <div class="plan attplan" style="margin-bottom: -250px !important">
      <h3>Basic</h3>
      <h2>Free</h2>
      <p>Free plan for all users</p>
      <ul>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> Unlimited URL Shotening</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> Basic Link Analytics</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> Customized Short Links</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> Standard Support</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> Ad-supported</li>
      </ul>
    </div>
    
    <div class="plan tallplan">
      <h3>Professional</h3>
      <h2>$15/month</h2>
      <p>Ideal plan for business creators</p>
      <ul>
        <li><img src="{{ url_for('static', path='/assets/check-circle-2.png')}}"> Enhanced Link Analytics</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle-2.png')}}"> Custom Branded Domains</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle-2.png')}}"> Advanced Link Customization</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle-2.png')}}"> Priority Support</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle-2.png')}}"> Ad-free Experience</li>
      </ul>
    </div>
    
    <div class="plan attplan">
      <h3>Teams</h3>
      <h2>$25/month</h2>
      <p>Share with up to 10 users</p>
      <ul>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> Team Collaboration</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> User Roles and Permissions</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> Enhanced Security</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> API Access</li>
        <li><img src="{{ url_for('static', path='/assets/check-circle.png')}}"> Dedicated Account manager</li>
      </ul>
    </div>
  </div>


  <div class="container4">
     <div class="button btnalt">
      <a href="#">Get Custom Pricing</a>
    </div>

     <div class="button">
      <a href="#">Select Pricing</a>
    </div>

  </div>

    
</div>


